.entry{
    
    color: #000!important;
    background-color: #ddffff!important;
    border-left: 6px solid #ccc!important;
    border-color: #2196F3!important;
    padding: 0.07em 16px;
    margin: 0.5em;
}